<!DOCTYPE html>
<html><head><link href="/components/www.tilepieces.net/footer/footer.css" rel="stylesheet" data-tilepieces-component="www.tilepieces.net/footer" data-tilepieces-current-stylesheet=""></head><body style="margin: 0px;"><footer><div><a href="/"><img src="/tp-favi-180.png"></a>
  
Tilepieces<br>author: Simone Di Nuovo<br>license under MIT<br><a href="https://github.com/tilepieces" target="_blank"><img src="/miscellaneous/github-black.png"></a><br><a href="https://twitter.com/tilepieces" target="_blank"><img src="/miscellaneous/twitter-blue.svg"></a></div><div><p><strong>Links</strong></p>
  <ul><li><a href="html-visual-edit.html">HTML Visual Editing</a></li>
    <li><a href="#">CSS Viewer</a></li>
  <li><a href="#">Components</a></li><li><a href="#">Applications</a></li><li><a href="/documentation/index.html">Documentation</a></li></ul>
</div><div><p><strong>tutorials</strong></p>

<ul>
	<li><a href="/how-to/create-project-with-html.html">create a project with an html</a></li>
	<li><a href="/how-to/edit-html-text-media.html">edit html text and media</a></li>
	<li><a href="/how-to/edit-html-structure.html">edit html structure</a></li>
	<li><a href="/how-to/edit-style.html">edit style</a></li>
	<li><a href="/how-to/create-reuse-component.html">create and reuse a component</a></li>
	<li><a href="/how-to/create-component-interface.html">CUSTOMIZING AND BUILDING TILEPIECES</a></li>
	<li><a href="/how-to/using-tilepieces-with-browser-developer-tools.html">using tilepieces with browser developer tools</a></li>
</ul>
</div></footer></body></html>