<!DOCTYPE html>
<html><head><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&amp;family=Open+Sans:wght@400;700&amp;display=swap" rel="stylesheet"><link rel="preconnect" href="https://fonts.googleapis.com">
<link href="/components/www.tilepieces.net/footer/footer.css" rel="stylesheet" data-tilepieces-component="www.tilepieces.net/footer" data-tilepieces-current-stylesheet=""></head><body style="margin: 0px;"><footer><div><a href="/" class="footer-logo"><img src="/tp-favi-180.png" alt="tilepieces-logo">
  
Tilepieces</a>license under <a href="https://github.com/tilepieces/tilepieces/blob/main/LICENSE" target="_blank">MIT</a><br><a href="https://github.com/tilepieces" target="_blank" class="social-link"><img src="/miscellaneous/git.svg" alt="github logo"></a><a href="https://twitter.com/tilepieces" target="_blank" class="social-link"><img src="/miscellaneous/twitter-blue.svg" alt="twitter-logo-dark"></a><a href="https://www.youtube.com/channel/UCo0SuP057lMWYzZdntwCusg" target="_blank" class="social-link"><img src="/miscellaneous/youtube.svg" alt="youtube-logo-dark"></a></div><div><p><strong>Links</strong></p>
  <ul><li><a href="/html-visual-edit/">HTML Visual Editing</a></li>
    <li><a href="/css-live-update/">CSS live update</a></li>
  <li><a href="/components/components/">Components</a></li><li><a href="/releases/">Releases</a></li><li><a href="/documentation/">documentation</a></li></ul>
</div><div><p><strong>Tutorials</strong></p>

<ul>
	<li><a href="/how-to/create-project-with-files/">create a project and add files</a></li><li><a href="/how-to/edit-html-structure/">edit html structure</a></li>
	<li><a href="/how-to/edit-html-text-media/">edit html text and media</a></li>
	
	<li><a href="/how-to/edit-style/">edit style</a></li>
	<li><a href="/how-to/create-reuse-component/">create and reuse a component</a></li>
	
	
</ul>
</div></footer></body></html>