footer { padding: 1em; background-color: rgb(242, 242, 242); box-sizing: border-box; display: grid; grid-template-areas: "footerheader footerheader footerheader footerheader" "list1 list1 list2 list2" ". list3 list3 ."; text-align: center; }
footer div:nth-child(1) { grid-area: footerheader / footerheader / footerheader / footerheader; }
footer div:nth-child(2) { grid-area: list1 / list1 / list1 / list1; }
footer div:nth-child(3) { grid-area: list2 / list2 / list2 / list2; }
footer div:nth-child(4) { grid-area: list3 / list3 / list3 / list3; }
@media screen and (min-width: 1024px) {
  footer { grid-template-areas: "footerheader list1 list2 list3"; }
}
footer img { width: 60px; }