.container-flex { flex-direction: row; padding: 0em; place-content: center space-between; align-items: center; display: flex; }
header.header-top { top: 0px; max-width: 100%; display: inline-block; width: 100%; position: sticky; padding: 0.4em; background-color: rgb(36, 193, 172); box-sizing: border-box; }
header.header-top nav > ul { display: flex; flex-direction: row; list-style: none; align-items: center; }
header.header-top nav > ul > li { padding: 0px 0.8em; }
header.header-top .menu-nav a { color: rgb(255, 255, 255); text-transform: uppercase; letter-spacing: 2px; font-family: Montserrat, sans-serif; font-size: 16px; text-decoration: none; display: block; }
header.header-top nav.menu-nav { }
header.header-top nav.menu-mobile > ul { flex-direction: column; }
header.header-top nav.menu-mobile { display: none; }
header.header-top nav.menu-nav-mobile { display: none; }
@media screen and (max-width: 1024px) {
  header.header-top nav.menu-nav { display: none; flex-direction: column; justify-content: center; background-color: rgba(50, 4, 127, 0.9); box-shadow: rgba(0, 0, 0, 0.24) 1px 3px 13px 6px; position: absolute; top: 0px; width: 58%; left: 100%; min-height: 100vh; }
  header.header-top nav.menu-nav li { padding: 10px 0px; font-size: 22px; }
  header.header-top nav.menu-nav-mobile { display: block !important; }
  header.header-top nav > ul { display: block; margin: 0px; padding: 0px; }
  header.header-top nav.menu-nav.open { left: auto; right: 0px; text-align: center; display: flex; }
}
#menuToggle span { background-color: rgb(255, 255, 255) !important; }
#menuToggle a { font-family: Montserrat, sans-serif; letter-spacing: 2px; color: rgb(255, 255, 255) !important; }
#menuToggle { cursor: pointer; position: absolute; right: 1.4em; top: 1.2em; }
#menuToggle { z-index: 1; user-select: none; }
#menuToggle a { text-decoration: none; color: rgb(35, 35, 35); transition: color 0.3s ease 0s; }
#menuToggle span { display: block; width: 33px; height: 4px; margin-bottom: 5px; position: relative; background: rgb(205, 205, 205); border-radius: 3px; z-index: 1; transform-origin: 4px 0px; transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) 0s, background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) 0s, opacity 0.55s ease 0s; }
#menuToggle span:nth-last-child(1) { transform-origin: 0% 100%; }
#menuToggle.checked span { opacity: 1; transform: rotate(45deg) translate(-2px, -1px); background: rgb(35, 35, 35); }
#menuToggle.checked span:nth-child(2) { opacity: 0; transform: rotate(0deg) scale(0.2, 0.2); }
#menuToggle.checked span:nth-child(3) { transform: rotate(-45deg) translate(0px, -1px); }
#menuNav li img { width: 32px; vertical-align: top; }
header.header-top details ol { list-style: none; padding: 0px; }
header.header-top details summary { list-style: none; }
header.header-top .menu-nav details ol a { font-size: 0.7em; }